{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <!-- main content starts here -->
        <div class="top-section top-section--purple">
            <h1>Components</h1>
            <h3>Buttons, sliders, tabs, etc.</h3>
        </div>
        
        <div class="divider">
            <h1>Buttons</h1>
        </div>
        
        <div class="page-section">
            <div class="row">
                <div id="button-code-1" class="column large-12">
                    <a href="#" class="button">Text</a>
                    <a href="#" class="button button--purple">Text <i class="material-icons">arrow_forward</i></a>
                    <a href="#" class="button button--teal">Learn More<i class="material-icons">add</i></a>
                    <a href="#" class="button button--orange">Send<i class="material-icons">send</i></a>
                    <a href="#" class="button button--blue">Confirm<i class="material-icons">check</i></a>
                    <a href="#" class="button button--black">Delete<i class="material-icons">close</i></a>
                    <a href="#" class="button button--icon-only button--black"><i class="material-icons">close</i></a>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#button-code-1"></code></pre>
                </div>
            </div>
        </div>

        <div class="page-section page-section--black">
            <div class="row">
                <div id="button-code-2" class="column large-12">
                    <a href="#" class="button">Text</a>
                    <a href="#" class="button button--purple">Text <i class="material-icons">arrow_forward</i></a>
                    <a href="#" class="button button--teal">Learn More<i class="material-icons">add</i></a>
                    <a href="#" class="button button--orange">Send<i class="material-icons">send</i></a>
                    <a href="#" class="button button--blue">Confirm<i class="material-icons">check</i></a>
                    <a href="#" class="button button--black">Delete<i class="material-icons">close</i></a>
                    <a href="#" class="button button--icon-only button--black"><i class="material-icons">close</i></a>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#button-code-2"></code></pre>
                </div>
            </div>
        </div>


        <div class="divider divider--purple">
            <div class="row">
                <div id="button-code-3" class="column large-12">
                    <a href="#" class="button button--naked">Naked button <i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#button-code-3"></code></pre>
                </div>
            </div>
        </div>

        <div class="divider">
            <h1>Modal</h1>
        </div>

        {# <div class="page-section">
            <div class="row">
                <div class="column large-12">
                    <a class="button js-open-modal" href="#">Open Modal</a>
                    
                    <div class="modal">
                        <div class="modal__content">
                            <h2>Title for modal</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ratione, reprehenderit veniam veritatis voluptatem perferendis nulla? Sint eveniet necessitatibus vel saepe, consequuntur veritatis laborum perspiciatis, reprehenderit, esse rem aut omnis.</p>
                            <h3>Title for modal</h3>
                            <p>Sint eveniet necessitatibus vel saepe, consequuntur veritatis laborum perspiciatis, reprehenderit, esse rem aut omnis.</p>
                            <h4>Title for modal</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ratione, reprehenderit veniam veritatis voluptatem perferendis nulla?</p>
                            <p><a class="button js-close-modal" href="#">OK</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> #}

        
    </main>
{% endblock %}
