{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <!-- main content starts here -->
        <div class="top-section top-section--purple">
            <h1>Components</h1>
            <h3>Buttons, sliders, tabs, etc.</h3>
        </div>
        
        <div class="divider">
            <h1>Buttons</h1>
        </div>
        
        <div class="page-section">
            <div class="row">
                <div id="button-code-1" class="column large-12">
                    <a href="#" class="button">Text</a>
                    <a href="#" class="button button--purple">Text <i class="material-icons">arrow_forward</i></a>
                    <a href="#" class="button button--teal">Learn More<i class="material-icons">add</i></a>
                    <a href="#" class="button button--orange">Send<i class="material-icons">send</i></a>
                    <a href="#" class="button button--blue">Confirm<i class="material-icons">check</i></a>
                    <a href="#" class="button button--black">Delete<i class="material-icons">close</i></a>
                    <a href="#" class="button button--icon-only button--black"><i class="material-icons">close</i></a>
                    <!-- Modifiers: .button--purple, .button--teal, .button--orange, .button--blue, .button--black, .button--icon-only, .button--black -->
                </div>
            </div>
        </div>
        <div class="page-section page-section--black">
            <div class="row">
                <div id="button-code-2" class="column large-12">
                    <a href="#" class="button">Text</a>
                    <a href="#" class="button button--purple">Text <i class="material-icons">arrow_forward</i></a>
                    <a href="#" class="button button--teal">Learn More<i class="material-icons">add</i></a>
                    <a href="#" class="button button--orange">Send<i class="material-icons">send</i></a>
                    <a href="#" class="button button--blue">Confirm<i class="material-icons">check</i></a>
                    <a href="#" class="button button--black">Delete<i class="material-icons">close</i></a>
                    <a href="#" class="button button--icon-only button--black"><i class="material-icons">close</i></a>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#button-code-1"></code></pre>
                </div>
            </div>
        </div>

        <div class="divider divider--purple">
            <div class="row">
                <div id="button-code-3" class="column large-12">
                    <a href="#" class="button button--naked">Naked button <i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#button-code-3"></code></pre>
                </div>
            </div>
        </div>

        <div class="divider">
            <h1>Modal</h1>
        </div>

        <div class="page-section">
            <div class="row">
                <div id="modal-code" class="column large-12">

                    <span class="button js-open-modal">Open Modal</span>
                    
                    <div class="modal js-target-modal">
                        <header class="modal__header">
                            <i class="modal__close material-icons js-close-modal">close</i>
                            <h1 class="modal__title">Modal title with a deceny number of characters</h1>
                        </header>
                        <section class="modal__content">
                            <h2>Title for modal</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ratione, reprehenderit veniam veritatis voluptatem perferendis nulla? Sint eveniet necessitatibus vel saepe, consequuntur veritatis laborum perspiciatis, reprehenderit, esse rem aut omnis.</p>
                            <h3>Title for modal</h3>
                            <p>Sint eveniet necessitatibus vel saepe, consequuntur veritatis laborum perspiciatis, reprehenderit, esse rem aut omnis.</p>
                            <h4>Title for modal</h4>
                            <form action="">
                                <input type="text" placeholder="Sample form">
                                <input type="text" placeholder="Sample form">
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                                <button>Submit</button>
                            </form>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ratione, reprehenderit veniam veritatis voluptatem perferendis nulla?</p>
                            <h3>Title for modal</h3>
                            <p>Sint eveniet necessitatibus vel saepe, consequuntur veritatis laborum perspiciatis, reprehenderit, esse rem aut omnis.</p>
                            <h4>Title for modal</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ratione, reprehenderit ve
                            <h3>Title for modal</h3>
                            <p>Sint eveniet necessitatibus vel saepe, consequuntur veritatis laborum perspiciatis, reprehenderit, esse rem aut omnis.</p>
                            <h4>Title for modal</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ratione, reprehenderit ve
                        </section>
                        <footer class="modal__controls">
                            <a class="button js-close-modal" href="#">OK</a> <a class="button js-close-modal" href="#">Cancel</a>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#modal-code"></code></pre>
                </div>
            </div>
        </div>

        <div class="divider">
            <h1>Sticky</h1>
        </div>
        <div class="page-section">
            <div class="row">
                <div class="column large-12">
                    <p>The sticky component is the purple panel that appears on the bottom of the page. If you closed it, just refresh the page and it will pop again.</p>
                    <pre><code class="language-markup" data-markup="#sticky-code"></code></pre>
                </div>
            </div>
        </div>

        <div id="sticky-code">
            <div class="sticky js-target-sticky sticky--purple js-active">
                <div class="row">
                    <div class="column small-12">
                        <i class="material-icons sticky__close js-close-sticky">close</i>
                        <h3 class="sticky__title">This is the Sticky Panel</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, in, nobis. Repudiandae <a href="#">ipsum alias enim officiis</a> et consectetur expedita commodi nobis suscipit deleniti. Recusandae architecto minima rerum modi suscipit doloremque!</p>
                    </div>
                </div>
            </div>
            <!-- Modifiers: .sticky--error, .sticky--red, .sticky--success, .sticky--green, .sticky--alert, .sticky--orange, .sticky--purple, .sticky--blue, .sticky--teal -->
        </div>

        
    </main>
{% endblock %}
