{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <!-- main content starts here -->
        <section class="top-section top-section--purple">
            <h1>Form</h1>
        </section>
        
        <section class="divider">
            <h1>Basic Form Elements</h1>
        </section>
        
        <section class="page-section">
            <div class="row">
                <div class="column small-12">
                    <div id="form-code-1">
                        <form class="form" action=""> <!-- The class .form is optional -->
                            <input type="text" id="name" placeholder="Name" />
                            <input type="email" id="mail" placeholder="Email"/>
                            <textarea id="msg" placeholder="Message"></textarea>
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#form-code-1"></code></pre>
                </div>
            </div>
        </section>

        <section class="page-section page-section--black">
            <div class="row">
                <div class="column small-12">
                    <div id="form-code-2">
                        <form action="" class="form form--negative"> 
                        <!-- The class .form is optional. For consistency reasons, I'm leaving it there. -->
                            <input type="text" id="name" placeholder="Name" />
                            <input type="email" id="mail" placeholder="Email"/>
                            <textarea id="msg" placeholder="Message"></textarea>
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#form-code-2"></code></pre>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="row">
                <div class="column small-6">
                    <form action="" class="form">
                        <div id="form-code-3">
                            <div class="checkbox">
                                <input id="001" type="checkbox">
                                <label for="001" title="Checkbox Example">Checkbox Example</label>
                            </div>
                            <div class="checkbox">
                                <input id="002" type="checkbox">
                                <label for="002" title="Checkbox Example">Checkbox Example</label>
                            </div>
                            <div class="checkbox">
                                <input id="003" type="checkbox">
                                <label for="003" title="Checkbox Example">Checkbox Example</label>
                            </div>
                            <div class="checkbox">
                                <input id="004" type="checkbox">
                                <label for="004" title="Checkbox Example">Checkbox Example</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column small-6">                   
                    <form action="" class="form">
                        <div id="form-code-4">
                            <div class="radio">
                                <input id="005" type="radio" name="radio1">
                                <label for="005" title="Radio Example">Radio Example</label>
                            </div>
                            <div class="radio">
                                <input id="006" type="radio" name="radio1">
                                <label for="006" title="Radio Example">Radio Example</label>
                            </div>
                            <div class="radio">
                                <input id="007" type="radio" name="radio1">
                                <label for="007" title="Radio Example">Radio Example</label>
                            </div>
                            <div class="radio">
                                <input id="008" type="radio" name="radio1">
                                <label for="008" title="Radio Example">Radio Example</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="row">
                <div class="column large-6">
                    <pre><code class="language-markup" data-markup="#form-code-3"></code></pre>
                </div>
                <div class="column large-6">
                    <pre><code class="language-markup" data-markup="#form-code-4"></code></pre>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="row">
                <div class="column large-12">
                    <form action="" class="form">
                        <div id="form-code-5">
                            <div class="select">
                                <select name="" id="">
                                    <option value="001">First Option</option>
                                    <option value="002">Second Option</option>
                                    <option value="003">Third Option</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#form-code-5"></code></pre>
                </div>
            </div>
        </section>

                
    </main>
{% endblock %}
