{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <!-- main content starts here -->
        <div class="top-section top-section--purple">
            <div class="row">
              <div class="medium-12 column">
                <h1>Pattern Library</h1>
                <p class="top-section__tagline">Welcome to the GovLab Web Design Standards! Here, you'll find our UI components and visual styles to create beautiful, consistent experiences across our websites.</p>
                <a href="#" class="button">Download Code <i class="material-icons">file_download</i></a>
              </div>
            </div>
        </div>

        <div class="page-section">
          <div class="row">
            <div class="column large-12">
              <a href="./base-elements.html" class="button">Base Elements</a>
              <a href="./form.html" class="button">Form</a>
              <a href="./components.html" class="button">Base Components</a>
              <a href="./sections.html" class="button">Sections</a>
              <a href="./special-components.html" class="button">Special Components</a>
              <a href="./sandbox.html" class="button">Sandbox</a>
            </div>
          </div>
          
        </div>
    </main>
{% endblock %}
