{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <!-- main content starts here -->
        <div class="top-section top-section--purple">
            <div class="row">
              <div class="medium-12 column">
                <h1>Styleguide</h1>
                <p class="top-section__tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat facilis recusandae repellendus cupiditate accusamus quasi similique expedita, consequatur possimus illo aliquid eaque nisi velit, ab laudantium omnis! Ipsa, asperiores, mollitia.</p>
              </div>
            </div>
        </div>

        <div class="page-section">
          <div class="row">
            <div class="column large-12">
              <a href="./components.html" class="button">Components</a>
              <a href="./form.html" class="button">Form</a>
              <a href="./all-elements.html" class="button">Base Elements</a>
            </div>
          </div>
          
        </div>
    </main>
{% endblock %}
