{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <!-- main content starts here -->
        <div class="b-top-section m-purple">
            <h1>Buttons</h1>
            <h3>Buttons, sliders, tabs, etc.</h3>
        </div>

        <div id="example-1">
            <div class="b-page-section">
                <div class="row">
                    <a href="#" class="b-button">Text</a>
                    <a href="#" class="b-button m-purple">Text <i class="material-icons">arrow_forward</i></a>
                    <a href="#" class="b-button m-teal">Learn More<i class="material-icons">add</i></a>
                    <a href="#" class="b-button m-orange">Send<i class="material-icons">send</i></a>
                    <a href="#" class="b-button m-blue">Confirm<i class="material-icons">check</i></a>
                    <a href="#" class="b-button m-black">Delete<i class="material-icons">close</i></a>
                    <a href="#" class="b-button m-icon-only m-black"><i class="material-icons">close</i></a>
                </div>
            </div>
            <div class="b-page-section m-black">
                <div class="row">
                    <a href="#" class="b-button">Text</a>
                    <a href="#" class="b-button m-purple">Text <i class="material-icons">arrow_forward</i></a>
                    <a href="#" class="b-button m-teal">Learn More<i class="material-icons">add</i></a>
                    <a href="#" class="b-button m-orange">Send<i class="material-icons">send</i></a>
                    <a href="#" class="b-button m-blue">Confirm<i class="material-icons">check</i></a>
                    <a href="#" class="b-button m-black">Delete<i class="material-icons">close</i></a>
                    <a href="#" class="b-button m-icon-only m-black"><i class="material-icons">close</i></a>
                </div>
            </div>
            <div class="b-divider m-purple">
                <div class="row">
                    <a href="#" class="b-button m-naked">Naked button <i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
        </div>

        <div class="b-page-section">
            <div class="row">
                <pre><code class="language-markup" data-markup="#example-1"></code></pre>
            </div>
        </div>
    </main>
{% endblock %}
