{% extends "_base.html" %}

{% block content %}

<main role="main">
    <!-- main content starts here -->
    <div class="top-section top-section--purple">
        <h1>Sandbox</h1>
        <h3>Design Environment</h3>
    </div>



<!-- Modifiers: .slide--purple, .slide--blue, .slide--orange, .slide--teal, .slide--gray-25, .slide--gray-10, .slide--gray-15, .slide--gray-20, .slide--gray-30, .slide--gray-40, .slide--gray-50, .slide--gray-60, .slide--gray-70, .slide--gray-80, .slide--gray-90, .slide--black, .slide--purple-20k, .slide--purple-40k, .slide--orange-20k, .slide--teal-20k, .slide--blue-20k, .slide--red, .slide--green -->


{% endblock %}
