{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <!-- main content starts here -->
        <div id="section-code-1">
            <div class="top-section top-section--purple">
                <h1>Sections</h1>
                <h3>Main Sections</h3>
            </div>
            <!-- MODIFIERS AVAILABLE: .page-section--purple, .page-section--black, .page-section--teal, .page-section--orange, .page-section--blue -->
        </div>
        
        <div class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#section-code-1"></code></pre>
                </div>
            </div>
        </div>
        

        <div id="section-code-2">
          <div class="divider">
              <h1>Divider</h1>
          </div>
          <!-- MODIFIERS AVAILABLE: .divider--purple, .divider--blue, .divider--orange, .divider--teal, .divider--red, .divider--green, .divider--dark-blue, .divider--dark-orange, .divider--dark-teal, .divider--dark-purple, .divider--gray-20, .divider--gray-30, .divider--gray-40, .divider--gray-50, .divider--gray-60, .divider--gray-70, .divider--gray-80, .divider--gray-90 -->
        </div>

        <div class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#section-code-2"></code></pre>
                </div>
            </div>
        </div>

        <div id="section-code-3">
          <div class="page-section page-section--blue">
              <div class="row">
                  <div class="column large-12">
                      <h2>Another Sample Title</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="column large-6">
                      <h3>Another Sample Title</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi impedit magni earum natus quaerat perferendis, obcaecati cupiditate, autem enim esse repellat? Enim ipsum libero necessitatibus, quia quaerat? Quas, nostrum, eos.</p>
                  </div>
                  <div class="column large-6">
                      <h4>Another Sample Title</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi impedit magni earum natus quaerat perferendis, obcaecati cupiditate, autem enim esse repellat? Enim ipsum libero necessitatibus, quia quaerat? Quas, nostrum, eos.</p>
                  </div>
              </div>
          </div>
          <!-- MODIFIERS: .page-section--purple, .page-section--black, .page-section--teal, .page-section--orange, .page-section--blue -->
        </div>

        <div class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#section-code-3"></code></pre>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
