{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <!-- main content starts here -->
        <div class="top-section top-section--purple">
            <div class="row">
              <div class="medium-12 column">
                <h1>Special Components</h1>
                <p class="top-section__tagline">These are less commonly used components, developed for specific projects.</p>
              </div>
            </div>
        </div>
        <div class="divider">
          <h1>Progress</h1>
        </div>
        <div class="page-section page-section--blue">
          <div class="row">
            <div id="progress-code" class="column large-12">
              <div class="progress progress--complete">
                <!-- Modifiers: progress--define, progress--prototype, progress--test, progress--complete -->
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          
        </div>
        <div class="page-section">
            <div class="row">
                <div class="column large-12">
                    <pre><code class="language-markup" data-markup="#progress-code"></code></pre>
                </div>
            </div>
        </div>
        <div class="divider">
      <h1>Slide</h1>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="column large-12">
          <p>Slides can be used to display information about a specific topic; for example, a project or article.</p>
        </div>
      </div>
    </div>

    <div id="slide-code">
    <section id="slide-id" class="slide slide--teal">
    <!-- MODIFIERS: .slide--purple, .slide--blue, .slide--orange. .slide--teal -->
      <header class="row">
        <div class="large-12 column">
          <h4>Featured Project</h4>
        </div>
      </header>
      <div class="row slide__content">
          <div class="medium-6 column">
              <h2 class="slide__project-name">Project Title</h2>
              <h3 class="slide__question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, enim adipisci dicta.</h3>
          </div>
          <div class="medium-6 column">
              <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
              <p>Project description Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
          </div>
      </div>
      <div class="row slide__content">
          <div class="medium-6 column">
              <div class="slide__action">
                  <a class="button button--naked" href="./projects.html">All Projects<i class="material-icons">arrow_forward</i></a>
              </div>
          </div>
          <div class="medium-6 column">
              <div class="slide__action">
                  <a class="button button--naked" href="#">Find out more<i class="material-icons">arrow_forward</i></a>
              </div>
          </div>
      </div>
    </section>
    </div>
    
    <div class="page-section">
      <div class="row">
        <div class="column large-12">
            <pre><code class="language-markup" data-markup="#slide-code"></code></pre>
        </div>
      </div>
    </div>


    <div class="divider">
      <h1>Slider</h1>
    </div>

    <div class="slider slick">
      <section id="slide-id" class="slide slide--purple">
          <header>
            <div class="row">
              <div class="column large-12">
                <h4>Featured Project</h4>  
              </div>
            </div>
          </header>
          <div class="row slide__content">
              <div class="column medium-6">
                  <h2 class="slide__project-name">Project Title</h2>
                  <h3 class="slide__question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, enim adipisci dicta.</h3>
              </div>
              <div class="column medium-6">
                  <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
                  <p>Project description Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
              </div>
          </div>
          <div class="row slide__content">
              <div class="column medium-6">
                  <div class="slide__action">
                      <a class="button button--naked" href="./projects.html">All Projects<i class="material-icons">arrow_forward</i></a>
                  </div>
              </div>
              <div class="column medium-6">
                  <div class="slide__action">
                      <a class="button button--naked" href="#">Find out more<i class="material-icons">arrow_forward</i></a>
                  </div>
              </div>
          </div>
      </section>
      <section id="slide-id" class="slide">
          <header>
            <div class="row">
              <div class="column large-12">
                <h4>Featured Project</h4>  
              </div>
            </div>
          </header>
          <div class="row slide__content">
              <div class="column medium-6">
                  <h2 class="slide__project-name">Project Title</h2>
                  <h3 class="slide__question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, enim adipisci dicta.</h3>
              </div>
              <div class="column medium-6">
                  <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
                  <p>Project description Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
              </div>
          </div>
          <div class="row slide__content">
              <div class="column medium-6">
                  <div class="slide__action">
                      <a class="button button--naked" href="./projects.html">All Projects<i class="material-icons">arrow_forward</i></a>
                  </div>
              </div>
              <div class="column medium-6">
                  <div class="slide__action">
                      <a class="button button--naked" href="#">Find out more<i class="material-icons">arrow_forward</i></a>
                  </div>
              </div>
          </div>
      </section>
      <section id="slide-id" class="slide slide--teal">
          <header>
            <div class="row">
              <div class="column large-12">
                <h4>From the Blog</h4>  
              </div>
            </div>
          </header>
          <div class="row slide__content">
              <div class="column medium-6">
                  <h2>Bloc title Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                  <h3><strong>By: </strong>Claudio Mendonca</h3>
              </div>
              <div class="column medium-6">
                  <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
                  <p>Project description Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
              </div>
          </div>
          <div class="row slide__content">
              <div class="column medium-6">
                  <div class="slide__action">
                      <a class="button button--naked" href="./projects.html">All Projects<i class="material-icons">arrow_forward</i></a>
                  </div>
              </div>
              <div class="column medium-6">
                  <div class="slide__action">
                      <a class="button button--naked" href="#">Find out more<i class="material-icons">arrow_forward</i></a>
                  </div>
              </div>
          </div>
      </section>
      <section id="slide-id" class="slide slide--orange">
          <header>
            <div class="row">
              <div class="column large-12">
                <h4>Featured Project</h4>  
              </div>
            </div>
          </header>
          <div class="row slide__content">
              <div class="column medium-6">
                  <h2 class="slide__project-name">Project Title</h2>
                  <h3 class="slide__question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, enim adipisci dicta.</h3>
              </div>
              <div class="column medium-6">
                  <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
                  <p>Project description Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
              </div>
          </div>
          <div class="row slide__content">
              <div class="column medium-6">
                  <div class="slide__action">
                      <a class="button button--naked" href="./projects.html">All Projects<i class="material-icons">arrow_forward</i></a>
                  </div>
              </div>
              <div class="column medium-6">
                  <div class="slide__action">
                      <a class="button button--naked" href="#">Find out more<i class="material-icons">arrow_forward</i></a>
                  </div>
              </div>
          </div>
      </section>
      <section id="slide-id" class="slide slide--blue">
          <header>
            <div class="row">
              <div class="column large-12">
                <h4>Featured Project</h4>  
              </div>
            </div>
          </header>
          <div class="row slide__content">
              <div class="column medium-6">
                  <h2 class="slide__project-name">Project Title</h2>
                  <h3 class="slide__question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, enim adipisci dicta.</h3>
              </div>
              <div class="column medium-6">
                  <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
                  <p>Project description Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
              </div>
          </div>
          <div class="row slide__content">
              <div class="column medium-6">
                  <div class="slide__action">
                      <a class="button button--naked" href="./projects.html">All Projects<i class="material-icons">arrow_forward</i></a>
                  </div>
              </div>
              <div class="column medium-6">
                  <div class="slide__action">
                      <a class="button button--naked" href="#">Find out more<i class="material-icons">arrow_forward</i></a>
                  </div>
              </div>
          </div>
      </section>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="column large-12">
            <p>The code for the slider consists in using a <code>.slider</code> element to wrap multiple <code>slide</code> components. That will automatically trigger the JS and all the extra functionality and styles used by slick.js. We are extending Slick with our own visual styles.</p>
            <pre><code class="language-markup">
              &lt;div class="slider"&gt;
                &lt;div class="slide"&gt;...&lt;/div&gt; &lt;!-- Slide Component --&gt;
                &lt;div class="slide"&gt;...&lt;/div&gt; &lt;!-- Slide Component --&gt;
                &lt;div class="slide"&gt;...&lt;/div&gt; &lt;!-- Slide Component --&gt;
                ...
              &lt;/div&gt;
            </code></pre>
        </div>
      </div>
    </div>
    </main>
{% endblock %}
