.button {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgba($black, .1);
    cursor: pointer;
    padding: 15px 20px;
    text-decoration: none;

    @extend .u-transition;

    &:hover {
        text-decoration: none;
        @extend .u-transition;
        background-color: rgba($black, .2);
    }

    @include breakpoint($mobile-only) {
        // display: block;
        text-align: center;

        & ~ .b-button {
            margin: 10px 0;
        }
    }

    i {
        margin-left: 15px;
        vertical-align: bottom;
        float: right;
    }
}

.button--icon-only i {
    margin-left: 0;
    float: none;
}

.button--purple {
    background-color: $purple;
    color: $white;

    &:hover { background-color: darken($purple, 6); }
}

.button--teal {
    background-color: $teal;
    color: $white;

    &:hover { background-color: darken($teal, 4); }
}

.button--orange {
    background-color: $orange;
    color: $white;

    &:hover { background-color: darken($orange, 4); }
}

.button--blue {
    background-color: $blue;
    color: $white;

    &:hover { background-color: darken($blue, 4); }
}

.button--black {
    background-color: rgba($black, .8);
    color: $white;

    &:hover { background-color: rgba($black, .9); }
}

.button--naked {
    background-color: transparent;
    color: $white;

    @include breakpoint($desktop) { margin-left: -10px; }
    // ToDo: understand why this style is not working
    // @include breakpoint($mobile-only) { background-color: $gray-20; }

    &:hover {
        background-color: rgba($black, .2);
        @extend .u-transition;
    }
}

.button--disabled{
  pointer-events: none;
  opacity: 0.5;
}
