.top-nav {
    background-color: rgba($black, .8);
    color: $white;
    position: relative;
    text-align: center;
    @extend .u-clearfix;

    &__item {
        padding: 10px;
        display: inline-block;
    }

    a { color: currentColor; }

    &__logo {
        img {
            padding: 5px;    
            max-height: 45px;

            @include breakpoint($desktop) {
                padding: 10px;
                max-height: 55px;
            }
        }
    }

    &__nav-group--left { float: left; }
    &__nav-group--right { float: right; }

    &__menu-trigger {
        display: none;
        @extend .u-material-icons;
        @include breakpoint($touch) { display: block; }
    }
}

.main-nav {
    background-color: $main-color;
    text-align: center;

    &__item {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        margin: 0 -2px;
        color: $white;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            background-color: rgba($white, .1);
        }
    }
}

.dropdown {
    padding: 0;
    position: relative;

    @include breakpoint($desktop) { 
        display: none; 
    }

    &__container {
        position: absolute;
        top: 0;
        padding: 0;
        background-color: $purple;
        margin: 0;
        width: 50vw;
    }

    &__item {
        list-style: none;
        text-align: left;
        padding: 5px 15px;

        &:hover {
            background-color: rgba($black, .1);
        }

        a {
            text-decoration: none;
            display: inline-block;
        }
    }
}