.u-button {
    padding: 12px 15px;
    cursor: pointer;

    &:hover {
        background-color: rgba($white, .1);
    }
}

.top-bar {
    background-color: $main-color;
    @extend .u-clearfix;
    text-align: center;
    height: 50px;
    display: flex;

    &__button {
        @extend .u-button;
        @extend .u-material-icons;
        color: $white;
    }
    
    &__logo {
        flex: 1;
        padding: 4px;
        margin: 0;
        display: inline-block;
        height: 100%;


    }

    &__logo img {
        height: 100%;
        
    }
}


