// breakpoints

$mobile-only: max-width 767px;
$tablet: min-width 768px;
$touch: max-width 1024px;
$desktop: 1025px;


// colors
$purple: #523080;
$orange: #ee5b43;
$teal: #008895;
$blue: #008ab3;
$green: #197d32;
$red: #c30014;
$text-color: #333;